.layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color:rgb(4, 109, 109)
}
.cabecalho h1{
    margin: 0;
    font-size:2rem;
}
.cabecalho a{
    background-color: rgb(4, 85, 85);
    padding: 5px 12px;
    font-size: 25px;
    border-radius: 5px;
}

.conteudo{
    padding: 25px;
    height:100%;
}